<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <application
        android:name="dagger.hilt.android.testing.HiltTestApplication"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name="com.eslam.palmoutsource.HiltTestActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
    </application>
</manifest>
